{{#foreach posts}}
<div class="card">
    <a href="{{url}}" target="_blank">
        {{! 文章标题、简洁、发布时间、作者 }}
        <div class="card-content">
            <span class="card-title b-title b-text-green">{{{title}}}</span>
            {{! 文章特色图 }}
            {{#if image}}
            <div class="hide-on-med-and-up card-image waves-effect waves-block waves-light">
                <img src="{{{image}}}" alt="{{{title}}}" class="responsive-img">
            </div>
            {{/if}}
            <p class="b-text-gray">{{excerpt characters="120"}}</p>
            <ul class="list-inline">
                <li>
                    <a class="b-link-green">
                        <i class="fa fa-calendar"></i>&nbsp;{{date published_at timeago="true"}}
                    </a>
                </li>
                <li>
                    {{#author}}
                    <a href="{{url}}" target="_blank" class="b-link-green">
                        <i class="fa fa-user"></i>&nbsp;{{name}}
                    </a>
                    {{/author}}
                </li>
            </ul>
        </div>
        <div class="tag-readmore card-action">
            <div class="row">
                {{! 文章标签 }}
                <div class="col s12 m8 card-tag">
                    {{#if tags}}
                    <i class="fa fa-tag fa-lg b-link-green"></i>
                    {{#foreach tags}}
                    <span class="b-chip">{{name}}</span>
                    {{/foreach}}
                    {{/if}}
                </div>
                <div class="col s12 m4 read-more hide-on-small-only">
                    <a href="{{url}}" class="btn waves-effect waves-light b-green right" target="_blank">更 多
                        <!-- <i class="material-icons right">send</i> -->
                    </a>
                </div>
            </div>
        </div>
    </a>
</div>
{{/foreach}}
